body {
  padding-top: 20px;
  background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

h1,
h2,
h3,
h4 {
  text-align: center;
}
h2,
h4 {
  color: #a152c0;
}

h1 {
  padding-top: 20px;
}
div {
  display: block;
}
ul {
  list-style-type: none;
  margin-left: 0px;
}
.Search-City {
  margin-top: 40px;
  padding: 5px;
  display: block;
  margin: 0 auto;
}
.weather-description .active {
  color: #31302d;
}

#description {
  text-align: center;
  text-transform: capitalize;
}
#temperature {
  margin-left: 30px;
  font-size: 35px;
}
#celsius #fahrenheit {
  font-size: 15px;
  float: inherit;
  text-decoration: none;
}

#icon {
  display: block;
  margin: 0 auto;
}

#max-temp {
  margin-left: 30px;
}
