body {
  padding-top: 20px;
  background: linear-gradient(360deg, #b2e3ee -73.08%, #b6d5ec 119.47%);
}

h1,
h2 {
  text-align: center;
}
h2 {
  color: #a152c0;
}

h1 {
  padding-top: 20px;
}
div {
  display: block;
}
ul {
  list-style-type: none;
  margin-top: 30px;
  margin-left: 0px;
  text-align: center;
}
.weather-app {
  width: 800px;
  margin: 0 auto;
}
form {
  position: static;
  right: 0%;
  bottom: 0%;
  background: rgba(255, 255, 255, 0.45);
  border-radius: 40px;
  height: 30px;
  width: 270px;
  left: 0px;
  top: 0px;
  border-radius: 40px;
}
.search-city {
  margin-top: 40px;
  padding: 5px;
  display: block;
  margin: 0 auto;
  width: 100px;
}
.displayCity {
  position: absolute;
  width: 383px;
  height: 56px;
  left: 522px;
  top: 131px;
  font-style: normal;
  font-weight: normal;
  font-size: 51px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -0.04em;

  color: #333e46;
}
.current-weather-forecast {
  text-align: center;
}
.current-weather-forecast .active {
  color: #31302d;
  cursor: default;
}
.current-weather-forecast .active {
  text-decoration: none;
}
.code-link {
  margin-top: 50px;
}
#hour {
  position: absolute;
  width: 163px;
  height: 15px;
  left: 536px;
  top: 24px;

  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  text-transform: uppercase;

  color: #687e8e;
}
#search-location-button {
  background-color: blue;
  color: #fff;
}
#current-location-button {
  background-color: #a152c0;
  color: #fff;
}
#description {
  font-weight: bold;
  text-align: center;
}
#description:first-letter {
  text-align: center;
  text-transform: uppercase;
}
#temperature {
  display: inline-block;
  font-size: 48px;
  line-height: 60px;
  vertical-align: top;
  color: #000;
}
#celsius #fahrenheit {
  color: #e8eaed;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;
  padding-left: 6px;
  vertical-align: top;
  text-decoration: none;
}

#icon {
  display: flex;
  margin: 0 auto;
  height: 60px;
  width: 60px;
  align-items: center;
  justify-content: center;
}
#forecast {
  margin: 40px;
  display: inline;
  text-align: center;
}
